* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #707070;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

.header {
  display: flex;
  align-items: center;
  background-color: #FCF6F6; /* Couleur de fond du header, ajustez selon vos besoins */
  width: 100%;
  justify-content: start;
}
/* Style pour le logo */
.logo {
  width: 70px; /* Ajustez la largeur du logo selon vos besoins */
  margin-right: 20px; /* Espace entre le logo et les liens de navigation */
}
/* Style pour la barre de navigation */
.navbar {
  display: flex;
  flex-grow: 1; /* La navbar prend tout l'espace horizontal disponible */
  height: 70px;
  align-items: center;
  margin-left: auto;
}

.site-name {
  margin-left: 10px; /* ajustez selon l'espace que vous voulez entre le logo et le texte */
  font-weight: bold;
  font-size: 24px; /* ajustez selon la taille désirée pour le nom du site */
  color:black ;
}

/* Style pour les liens */
.navbar a {
  color: black; /* Couleur du texte des liens */
  padding: 10px 15px; /* Espacement autour du texte des liens */
  text-decoration: none; /* Pas de soulignement pour les liens */
  font-weight: bold; /* Rendre le texte des liens en gras */
  margin-right: 10px; /* Espace entre les liens */
  font-size: 20px;
}
/* Style pour le lien actif */
.navbar a.active {
  color: #4CAF50; /* Couleur du texte du lien actif */
}
/* Ajoutez ceci si vous voulez changer le style des liens au survol */
.navbar a:hover {
  background-color: #555; /* Fond des liens au survol */
  color: #ddd; /* Texte des liens au survol */
}

/* Style pour le lien actif */
.navbar a.active {
  color: #4CAF50; /* Couleur du texte du lien actif */
}
/* Ajoutez ceci si vous voulez changer le style des liens au survol */
.navbar a:hover {
  background-color: #555; /* Fond des liens au survol */
  color: #ddd; /* Texte des liens au survol */
}

.push-right {
  margin-left: auto;
}

iframe {
  display: block; /* Les iframes sont inline par défaut, ce qui les empêche de centrer avec margin */
  margin: 0 auto; /* Cela ajoutera automatiquement une marge égale de chaque côté, centrant l'élément */
}


.blog-post {
  background: rgb(255, 255, 255);
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem; /* Réduit la marge intérieure */
  margin-bottom: 1rem; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  
  overflow: hidden;
  /* Ajustez la largeur maximale pour rendre les articles plus petits */
  max-width: 70%; /* Plus petit que 80% précédent */
  margin: 2rem auto; /* Augmente la marge pour espacer les articles */
}

.blog-post h2 {
  font-size: 1.5rem;
  color: #018293;
  margin-bottom: 1rem;
}

.blog-post p {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 1rem;
}

.blog-post img {
  width: 500px;
  max-height: 300px;
  height: auto;
  margin-top: 1rem;
  border-radius: 5px;
  display: block; /* Assure que l'image est traitée comme un bloc pour le centrage */
  margin-left: auto; /* Centre l'image horizontalement */
  margin-right: auto; /* Centre l'image horizontalement */
}


table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th{
  color: white;
}

td {
  padding: 10px;
  text-align: left;
  color: black;
}
th {
  background-color: #000000;
}


label {
  font-size: 1.25rem;
  color: #000000;
  margin-bottom: 1rem;
}

/*carousel*/
.custom-slider { display: none; }
.slide-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; color: #000000; }
.next { right: 15px; color: #000000;}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

.slide-img{
    width: 500px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}



.comments-section {
  background-color: #f8f9fa; /* Couleur de fond de la section des commentaires */
  padding: 20px; /* Espacement autour du contenu de la section des commentaires */
  border-radius: 8px; /* Coins arrondis pour la section des commentaires */
  margin-top: 20px; /* Espace entre le contenu de l'article et la section des commentaires */
}

.comment-form {
  display: flex; /* Utilise flexbox pour aligner les éléments du formulaire */
  flex-direction: column; /* Les éléments du formulaire seront empilés verticalement */
  gap: 10px; /* Espacement entre les éléments du formulaire */
}

.comment-form label {
  font-weight: bold; /* Rend le texte du label en gras */
}

.comment-form input[type="text"],
.comment-form textarea {
  padding: 10px; /* Espacement intérieur pour les champs de saisie */
  border: 1px solid #ced4da; /* Couleur de bordure pour les champs de saisie */
  border-radius: 4px; /* Coins arrondis pour les champs de saisie */
  margin-bottom: 10px; /* Espacement sous les champs de saisie */
}

.comments-list li,
.comments-list p {
  color: #333; /* Couleur de texte plus foncée pour une meilleure lisibilité */
  /* Ajoutez d'autres styles ici si nécessaire */
}
.comment-form button {
  background-color: #006FE6; /* Couleur de fond pour le bouton */
  color: white; /* Couleur de texte pour le bouton */
  padding: 10px 15px; /* Espacement intérieur pour le bouton */
  border: none; /* Aucune bordure pour le bouton */
  border-radius: 4px; /* Coins arrondis pour le bouton */
  cursor: pointer; /* Change le curseur en pointeur lorsque vous survolez le bouton */
}

.comment-form button:hover {
  background-color: #0056b3; /* Couleur de fond pour le bouton au survol */
}



#contact-bubble {
  position: fixed;
  bottom: 30px;
  right: 40px;
  background-color: #007bff;
  color: white;
  padding: 15px;
  width: 60px; /* Nouvelle valeur */
  height: 60px; /* Nouvelle valeur */
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5001;
}


.hidden {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000; /* Sous le formulaire mais au-dessus du contenu */
  display: none;
}

.close-btn {
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #707070; /* Couleur de la croix, modifiez selon le besoin */
  cursor: pointer;
}

#form-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 5002; /* Assurez-vous qu'il est au-dessus de l'overlay */
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
}

#form-container.active {
  transform: translateX(0);
}

/* Styliser le titre */
#form-container h2 {
  margin-top: 0;
  color: #0071EB;
}

/* Styliser les champs de formulaire */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styliser le bouton d'envoi */
#contact-form button {
  background-color: #0071EB;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

#contact-form button:hover {
  background-color: #0056b3;
}

/* Styliser le bouton de fermeture */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #707070;
  cursor: pointer;
}



footer {
  background-color: #FCF6F6;
  color: #666;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

footer p {
  margin: 0;
  font-size: 1rem;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
footer-links ul {
  list-style: none;
}

.footer-links ul li {
  display: inline;
  margin-right: 10px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {
  .blog-container {
      max-width: 95%;
  }
}
